<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <!--定义日志文件的存储地址-->
    <springProperty scope="context" name="logName" source="logging.file.name" defaultValue="muern.log" />
    <!--格式化输出：%d表示日期，%thread表示线程名，%-5level：级别从左显示5个字符宽度%msg：日志消息，%n是换行符-->
    <property name="CONSOLE_LOG_PATTERN" value="%d{HH:mm:ss.sss} %level %X{traceid} %green([%t]) %boldMagenta(%c{5}[%L]): %cyan(%m) %n" />
    <property name="FILE_LOG_PATTERN" value="%d{HH:mm:ss.sss} %level %X{traceid} [%t] %c{5}[%L]: %m %n" />

    <!-- 控制台输出 -->
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>${CONSOLE_LOG_PATTERN}</pattern>
        </encoder>
    </appender>
    <!-- 输出INFO日志文件 -->
    <appender name="INFO-FILE"  class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${logName}</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <!--日志文件输出的文件名-->
            <FileNamePattern>${logName}.%d{yyyy-MM-dd}.%i</FileNamePattern>
            <MaxHistory>30</MaxHistory>
            <MaxFileSize>200MB</MaxFileSize>
        </rollingPolicy>
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>ERROR</level>
            <onMatch>DENY</onMatch>
            <onMismatch>ACCEPT</onMismatch>
        </filter>
        <encoder>
            <pattern>${FILE_LOG_PATTERN}</pattern>
        </encoder>
    </appender>
    <!-- 输出ERROR日志文件 -->
    <appender name="ERROR-FILE"  class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${logName}.error</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <!--日志文件输出的文件名-->
            <FileNamePattern>${logName}.error.%d{yyyy-MM-dd}.%i</FileNamePattern>
            <MaxHistory>30</MaxHistory>
            <MaxFileSize>200MB</MaxFileSize>
        </rollingPolicy>
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>ERROR</level>
        </filter>
        <encoder>
            <pattern>${FILE_LOG_PATTERN}</pattern>
        </encoder>
    </appender>

    <root level="info" additivity="false">
        <appender-ref ref="CONSOLE" />
        <appender-ref ref="INFO-FILE" />
        <appender-ref ref="ERROR-FILE" />
    </root>
</configuration>